* {
    box-sizing: border-box;
  }

@font-face {
    font-family: "AppleSDGothicNeo";
    font-style: normal;
    font-weight: 400;
    src: url("../app.modules/assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf") format("truetype");
} 

 html{
    font-family: 'AppleSDGothicNeo';
    font-size: 62.5%;
    
   
 }


body{
     height:100vh;
     font-size:1.6rem;
    
}


   @media screen and (max-width: 510px) { 
      body,
      button,
      input,
      select,
      table,
      textarea {
          font-size: 1.2rem;
      }
  
  } 
  
